<html lang='pt-br'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Thoughts Hub</title>
    </head>
    <body>
        <nav>
            <a href=''></a>
            <ul>
                <li>
                    <a href=''></a>
                    <!-- URLs após autenticação -->
                </li>
            </ul>
        </nav>
        <div>
            {{body}}
        </div>
        <footer>
            <p><span>Thoughts</span> &copy; 2026</p>
        </footer>
    </body>
</html>